.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(192, 189, 189);
    overflow-y: hidden;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    overflow: hidden;
}

.loader .fa-spinner{
    font-size: 4rem;

}

.loader p{
    font-size: 1.5rem;
    color:white;
}